<div class="d-flex flex-wrap flex-column" style="margin:25px">
    <h2>Se genero el certificado correctamente</h2>
    <h3>Nombre: {{data['campos']['nombre']}}</h3>
    <h3>Apellido: {{data['campos']['apellido']}}</h3>
    <h3>DNI: {{data['campos']['nro_doc']}}</h3>
    <h4>Para viajar a {{data['campos']['localidad']}}, {{data['campos']['departamento']}}, {{data['campos']['provincia']}}</h4>
    <h4>Fecha Vigencia: {{data['campos']['fecha_vigencia']}}</h4>
    <h5>Id Tramite: {{data['campos']['id_permiso']}}</h5>
</div>