/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.d-flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.nw{
    flex-wrap: nowrap;
}

.w{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}

.mw-100{
    min-width: 100px;
}

.jc-sa{
    justify-content: space-around;
}

.mb-10{
    margin-bottom: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  