:host{
    display: flex;
    flex-direction: row;
    height: -webkit-fill-available;
    min-height: 100vh;
    overflow: auto;
}

.tabla{
    display:flex;
    flex-direction: column;
    width: -webkit-fill-available;
    border-radius: 8px;
    margin:5px;
    padding:10px;
}

