<div class="tabla" *ngIf="view_home">
    <h2>Datos Ciudadano:</h2>
    <div class="d-flex flex-row w jc-sa mb-10">
        <div class="d-flex flex-column">
            <mat-label>Nro. Documento</mat-label>
            <input matInpunt id="nro_doc" type="text" [(ngModel)]="campos['ciudadano']['data']['attributes']['nro_doc']" placeholder="39933049">
            <mat-error *ngIf="errores['nro_doc']">
                Nro. Documento es <strong>requerido</strong>
            </mat-error>
        </div>
        <div class="d-flex flex-column">
            <mat-label>Cuil</mat-label>
            <input matInpunt id="cuil" type="text" [(ngModel)]="campos['ciudadano']['data']['attributes']['cuil']" placeholder="20399330492">
            <mat-error *ngIf="errores['cuil']">
                Cuil es <strong>requerido</strong>
            </mat-error>
        </div>
        <div class="d-flex flex-column">
            <mat-label>Sexo:</mat-label>
            <mat-select placeholder="Seleccione" [(ngModel)]="campos['ciudadano']['data']['attributes']['sexo']" class="mw-100">
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="F">Femenino</mat-option>
            </mat-select>
            <mat-error *ngIf="errores['sexo']">
                Sexo es <strong>requerido</strong>
            </mat-error>
        </div>
        <div class="d-flex flex-column">
            <mat-label>N° Tramité DNI</mat-label>
            <input matInpunt id="input-nro_tramite" type="text" [(ngModel)]="campos['ciudadano']['data']['attributes']['nro_tramite']" placeholder="10532700">
            <mat-error *ngIf="errores['nro_tramite']">
                Numero de tramite DNI es <strong>requerido</strong>
            </mat-error>
        </div>
        <div class="d-flex flex-column">
            <mat-label>Nombre/s</mat-label>
            <input matInpunt id="input-nombre" type="text" [(ngModel)]="campos['ciudadano']['data']['attributes']['nombre']">
            <mat-error *ngIf="errores['nombre']">
                Nombre es <strong>requerido</strong>
            </mat-error>
        </div>
        <div class="d-flex flex-column">
            <mat-label>Apellido/s</mat-label>
            <input matInpunt id="input-apellido" type="text" [(ngModel)]="campos['ciudadano']['data']['attributes']['apellido']" >
            <mat-error *ngIf="errores['apellido']">
                Apellido es <strong>requerido</strong>
            </mat-error>
        </div>
        <div class="d-flex flex-column">
            <mat-label>Telefono</mat-label>
            <input matInpunt id="input-telefono" type="text" [(ngModel)]="campos['ciudadano']['data']['attributes']['telefono']" placeholder="0" >
        </div>
        <div class="d-flex flex-column">
            <mat-label>Email (donde se enviara la AUTORIZACION)</mat-label>
            <input matInpunt type="email" id="email" [(ngModel)]="campos['ciudadano']['data']['attributes']['email']" placeholder="Ingrese su correo">
            <input matInpunt (change)="verificarMail()" id="email_confirmacion" type="email" [(ngModel)]="auxiliar['email']" placeholder="Vuelva a ingresar su correo">
            <mat-error *ngIf="errores['coincidencia_correo']">
                Mail no concidide
            </mat-error>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2>Datos Domicilio:</h2>
    <div class="d-flex flex-row nw jc-sa mb-10">
        <div class="d-flex flex-column">
            <mat-label>Provincia</mat-label>
            <mat-select [(ngModel)]="campos['domicilio']['data']['attributes']['id_provincia']" class="mw-100" placeholder="Seleccione" name="Provincia">
                <mat-option (onSelectionChange)="getDepartamentos($event,provincia.id)" *ngFor="let provincia of provincias"  
                [value]="provincia.id">
                    <span>{{provincia.nombre}}</span>
                </mat-option>
            </mat-select>
            <mat-error *ngIf="errores['id_provincia']">
                Provincia es <strong>requerida</strong>
            </mat-error>
        </div>
        <div class="d-flex flex-column">
            <mat-label>Departamento</mat-label>
            <mat-select [(ngModel)]="campos['domicilio']['data']['attributes']['id_departamento']" [disabled]="disabled['departamentos']" class="mw-100" placeholder="Seleccione" name="Departamento">
                <mat-option (onSelectionChange)="getLocalidades($event,departamento.id)" *ngFor="let departamento of departamentos"  
                [value]="departamento.id">
                    <span>{{departamento.nombre}}</span>
                </mat-option>
            </mat-select>
            <mat-error *ngIf="errores['id_departamento']">
                Departamento es <strong>requerido</strong>
            </mat-error>
        </div>
        <div class="d-flex flex-column">
            <mat-label>Localidad</mat-label>
            <mat-select [(ngModel)]="campos['domicilio']['data']['attributes']['id_localidad']" [disabled]="disabled['localidades']" class="mw-100" placeholder="Seleccione" name="Localidad">
                <mat-option *ngFor="let localidad of localidades"  
                [value]="localidad.id" >
                    <span>{{localidad.nombre}}</span>
                </mat-option>
            </mat-select>
            <mat-error *ngIf="errores['id_localidad']">
                Localidad es <strong>requerida</strong>
            </mat-error>
        </div>
        <div class="d-flex flex-column">
            <mat-label>Domicilio</mat-label>
            <input matInpunt id="input-domicilio" type="text" [(ngModel)]="campos['domicilio']['data']['attributes']['domicilio']" placeholder="Misiones 1085" >
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2>Datos Permiso:</h2>
    <div class="d-flex flex-row nw jc-sa mb-10">
        <div class="d-flex flex-column">
            <mat-label>Fecha de ingreso</mat-label>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="auxiliar['fecha_vigencia']" placeholder="Seleccione una fecha" (dateChange)="cambioFecha($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="errores['fecha_vigencia']">
                Fecha de ingreso es <strong>requerida</strong>
            </mat-error>
        </div>
        
    </div>

    <button mat-raised-button color="primary" (click)="registrar()">Registrar</button>
</div>

<router-outlet></router-outlet>

